<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Title }}</title>
</head>

<body>
  {{ partial "header" . }}
  
  <main>
  <section class="mainIntro">
    <h1>{{.Title}}</h1>
    <div class="worksummary"> {{ .Params.summary }} </div>
    <div class="subtitle">Organization: {{ .Params.company }}</div>
    <div class="subtitle">Term: {{.Params.period}}</div>
  </section>
     
  <section class="mainContent">
  {{.Content}}
  </section>
  </main>
  
  {{ partial "footer" . }}
</body>
</html>
