header {
	text-align: center;
	text-transform:capitalize;
	background-color:DodgerBlue;
	color:white;
	width: 100%;
}

footer {
	color: white; 
	background-color:#757575; 
	bottom:0px; 
	padding: 10px 0px;
		text-align:center; 
	width: 100%;
}

article {
	max-width: 1000px;
	margin: 5px;
}

a.footer {
	text-decoration: none;
	color: white;
}

a.navBar:link, a.navBar:visited {
  
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
}

a.navBar:hover, a.navBar:active {
  background-color: red;
}


nav {
	margin: 0px 0px 10px 0px; 
	background-color: DodgerBlue;
	text-align: center;
	text-transform:capitalize;
}

div.pagelistentry {
	border: 1px solid black;
	margin:10px;
	padding:10px;
}

p.pagelistentry {
	font-size:18px;
}

.subtitle {
	color:grey;
	font-size:16px;
}

.workcontent {
	font-size:18px;
}

.workintro {
	margin:25px;
}

figure {
	padding: 10px;
}

figure img {
	width: 100%;
	height: auto;
}

figcaption {
	text-align: center;
	font-style: italic;
}

section.projectContent {
	
}

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
}
