<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{{.Title}}</title>
</head>
<body>
	{{ partial "header" . }}
	
	<main>
	
	{{.Content}}

	{{ range .Pages }}
	<article>
	
	<!-- See if there are subpages for this page -->
	{{ if .Pages}}

	{{ partial "listEntryInfo" . }}
	
	<!-- sub pages for sections -->
	<ul>
	{{ range .Pages }}
	<li><a href="{{.Permalink}}">{{.Title}}</a> - {{ .Params.summary }}</li>
	{{end}}
	</ul>
		
	{{ else if .Params.thumbnail}}
	<!-- No sub pages, so project. Has a thumbnail image with it -->
	
	<div class="listEntry">
	{{ partial "listEntryInfo" . }}
	</div>
	
	
	<img class="thumbnail" src="{{.Params.thumbnail}}">
	
	{{ else }}
	<!-- No sub pages, so project. Lacks a thumbnail image with it -->
	{{ partial "listEntryInfo" . }}
	
	{{end}}
		
	</article>
	{{ end }}
	
	</main>
	
	{{ partial "footer" . }}
</body>
</html>
