<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{{.Title}}</title>
</head>
<body>
	{{ partial "header" . }}
	
	<main>
	{{.Content}}

	{{ range .Pages }}
	<div class="pagelistentry">
		<div style="font-size:20px;">
			<a href="{{.Permalink}}">{{.Title}}</a>
		</div>

		{{/* Subtitles to be decided based on the content, determined by unique params for pages */}}

		{{/* Projects */}}
		{{ if .Params.status }}
		<div class="subtitle">Status: {{ .Params.status }}</div>
		<div class="subtitle">Started: {{ .Params.started }}</div>
		{{ if .Params.client }}<div class="subtitle">Client: {{ .Params.client }}</div> {{end}}
		<div class="subtitle">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

		{{end}}

		{{/* Experience */}}
		{{ if .Params.company }}
		<div class="subtitle">{{ .Params.company }}</div>
		<div class="subtitle">{{ .Params.period }}</div>
		{{end}}

		{{/* Publications */}}
		{{ if .Params.publication }}
		<div class="subtitle">{{ .Params.writers }}</div>
		<div class="subtitle">{{ .Params.publication }}</div>
		<div class="subtitle">Published: {{ .Params.publishedDate}}</div>
		{{end}}

		<p class="pagelistentry">{{.Summary}}</p>
	</div>
	{{ end }}
	
	</main>
	
	{{ partial "footer" . }}
</body>
</html>
