<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{{ .Title }}</title>
</head>
<body>
  {{ partial "header" . }}
	
	<main>
  <section class="mainIntro">
    <h1>{{.Title}}</h1>
    <div class="introLine"></div>
    <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
    <div style="color:grey; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
    <div class="introLine"></div>
  </section>
  
  <section class="mainContent">
  {{.Content}}
  </section>
  </main>
  
  {{ partial "footer" . }}
</body>
</html>
