<ul class="breadcrumbs">
    <li class="breadcrumbs"><a class="subtitle" href="/">Home</a></li>

    {{- $.Scratch.Set "url" "" -}}

    {{- range (split .RelPermalink "/") -}}
    	  
        {{- if (gt (len .) 0) -}}    
            {{- $.Scratch.Set "isPage" "false" -}}
            {{- $.Scratch.Add "url" (print "/" . ) -}}
            
            
            {{- if $.GetPage (print . ".md") -}}
                {{- with $.GetPage (print . ".md") -}}
                    {{- if .IsPage -}}
                        {{- $.Scratch.Set "isPage" "true" -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
            
            
            {{- if eq ($.Scratch.Get "isPage") "true" -}}
                {{- with $.GetPage (print . ".md") -}}
                    <li class="breadcrumbs"><a class="subtitle" href="{{ $.Scratch.Get `url` }}">{{ .Title }}</a></li>
                {{- end -}}
            {{- else -}}
            
            	<!-- Used to put titles of named lists/sections -->
                {{if $.GetPage (print ($.Scratch.Get `url`) "/_index.md")}}
                	{{with $.GetPage (print ($.Scratch.Get `url`) "/_index.md")}}
            		 	<li class="breadcrumbs"><a class="subtitle" href="{{ (print ($.Scratch.Get `url`) "/_index.md") }}">{{ .Title }}</a></li>
            		{{end}}
				{{else}}
                	<li class="breadcrumbs"><a class="subtitle" href="{{ $.Scratch.Get `url` }}">{{ humanize . }}</a></li>
				{{end}}
            {{- end -}}
            
        {{- end -}}
    {{- end -}}
</ul>
