<!-- Used for a two column reactive listing -->

<div class="row">
<div class="column">
{{ $articlesPerCol := math.Ceil (div (len .pagesToPost) 2.0)}}

{{ range $i, $article :=.pagesToPost }}

	<a href="{{.Permalink}}">
	<article>
	
	
	{{if .Params.thumbnail}}
		<img class="thumbnail" src="{{.Params.thumbnail}}">
	{{end}}
	
	{{ partial "listEntryInfo" . }}
	
	<!-- See if there are subpages for this page, list them -->
	{{ if .Pages}}
		<ul>
		{{ range .Pages }}
			<li><a href="{{.Permalink}}">{{.Title}}</a> - {{ .Params.summary | markdownify}}</li>
		{{end}}
		</ul>
	{{end}}
		
	</article>
	</a>
	
	{{ if modBool (add $i 1) $articlesPerCol }}
  	</div> <!-- end row -->
  	<div class="column">
	{{ end }}
{{ end }}
</div>
</div>
