{{ range .Site.Params.custom_css}}
<link rel="stylesheet" href={{ . | relURL}}>
{{else}}
oh no no custom_css!!
{{end }}

<header>
  <h1><a href="/">Savo's Site -  No Girls Allowed</a></h1>
</header>

<nav>
<ul>
<!-- Needs to be on one line to avoid whitespacing causing slight spacing issues --> 
<li><a href="/projects/">Projects</a></li><li><a href="/about-me/">About</a></li><li><a href="/publications/">Publications</a></li><li><a href="/work-experience/">Work Experience</a></li><li><a href="/volunteering/">Volunteering</a></li><li><a href="/contact/">Contact</a></li>
</ul>
</nav>
