<!-- The info used for a list entry -->

<h2 class=listEntry>
	<a href="{{.Permalink}}">{{.Title}}</a>
</h2>

{{/* Subtitles to be decided based on the content, determined by section */}}

{{/* Projects */}}
{{ if (eq .Section "projects") }}
	{{if .Params.status}}<p class="subtitle">Status: {{ .Params.status }}</p>{{end}}
	
	{{ if and .Params.finished .Params.started}}
	<p class="subtitle">Period: {{ .Params.started }} - {{ .Params.finished }}</p>
	{{else if .Params.started}}
	<p class="subtitle">Started: {{ .Params.started }}</p>
	{{end}}
	{{ if .Params.client }}<p class="subtitle">Client: {{ .Params.client }}</p> {{end}}
	{{ if .Params.tags }}
	  <p class="subtitle"><strong>Tags:</strong> {{range sort .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</p>
	{{end}}

{{end}}

{{/* Experience */}}
{{ if or (eq .Section "work experience") (eq .Section "volunteering") }}
	<p class="subtitle">{{ .Params.company }}</p>
	<p class="subtitle">{{ .Params.period }}</p>
{{end}}

{{/* Publications */}}
{{ if (eq .Section "publications") }}
	<p class="subtitle">{{ .Params.writers }}</p>
	<p class="subtitle">{{ .Params.publication }}</p>
	<p class="subtitle">Published: {{ .Params.publishedDate}}</p>
{{end}}

<p class="listEntry">{{.Summary | markdownify}}</p>
