<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Title }}</title>
</head>

<body>
  {{ partial "header" . }}
    
  <main>
  
  
<div class="intro">

<div class="bio-shot">
<img class="bio-shot" src="/images/headshot-small.jpg">
</div>

<div class="bio-bit">


<h1>Hi There!</h1>

<p>This is a website for Savo Bajic (me!). It covers my projects and work acting like a digital CV, and maybe I'll 
find further uses for it in the future.</p>

</div>
</div>

  {{.Content}}	

	<section id="featured">
	<div class="introLine"></div>
	<h1>Featured Projects</h1>
	<p>Here are a few of my projects I'm particularly proud of and really want to share.</p>

	<!-- Get the featured article list as pages -->
	{{ $pagesInterested := slice "" }}
	{{ range .Params.featuredLinks }}
	  {{ $pagesInterested = $pagesInterested | append (($.GetPage .))}}
	{{end}}
	{{ $pagesInterested = after 1 ($pagesInterested)}}

	
	{{ partial "columnContent" (dict "context" . "pagesToPost" $pagesInterested)}}
	
	</section>
	
	<section id="recent">
	<div class="introLine"></div>
	<h1>Recently Updated Pages</h1>
	<p>These are pages that I have most recently updated. Usually that means meaningful content updates but sometimes it could just be me fixing some spelling mistakes.</p>
	
	{{ $byLastMod :=  .Site.RegularPages.ByLastmod  }}
  {{ $recent := ($byLastMod | last 6).Reverse }}
	
	{{ partial "columnContent" (dict "context" . "pagesToPost" $recent)}}
	
	</section>
	
  </main>
  
  {{ partial "footer" . }}
</body>
</html>
