<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>{{.Title}}</title>
</head>
<body>
	{{ partial "header" . }}
	
	<main>
	
	{{.Content}}

	{{ range .Pages }}
	<article>
	
		<!-- Has a thumbnail image with it? -->
		{{ if isset .Params "thumbnail"}}
		
			<div class="listEntry">
			{{ partial "listEntryInfo" . }}
			</div>
			
			<img class="thumbnail" src="{{.Params.thumbnail}}">
			
		{{ else }}
			<!-- Lacks a thumbnail image with it -->
			{{ partial "listEntryInfo" . }}
		{{end}}
		
		<!-- List summary points -->
		{{ if isset .Params "points"}}
			<ul>
			{{ range .Params.points }}
				<li>{{ . }}</li>
			{{end}}
			</ul>
		{{end}}
		
	</article>
	{{ end }}
	
	</main>
	
	{{ partial "footer" . }}
</body>
</html>
